@import "../../styles"
  
.track
  display: flex
  align-items: center
  padding: 1.8%
  background-color: $background_color

  &--playing
    color: $green_0

    .track__cover
      filter: brightness(0.5)

  &__cover
    width: 6.8vh
    height: 6.8vh
    border-radius: 10%
    margin-right: 5%

  &__main_info
    width: 60%
    display: flex
    flex-direction: column

  &__title
    font-size: 2.3vh
    cursor: default

  &__title_container
    margin-bottom: 2%

  &__artist
    font-size: 2vh
    opacity: 0.6
    cursor: default

  &__like
    margin-left: auto

  &__popup_menu
    margin-left: 1vh
