@import "../../styles"

$input_height: min(50px, 8vh)

.search_screen
  position: relative
  height: 100%

  &__tracklist
    padding-top: $input_height

.search_screen_input
  position: absolute
  z-index: 100
  height: $input_height 
  width: 100%

  input
    width: 100%
    height: 100%
    border: none
    padding: 0 5%
    border-bottom: 1px solid rgba($accent_color, 0.2)
    background-color: $input_background
    color: $primary_text_color
    box-shadow: 0 0 15px -9px #000
    font-size: 18px
    font-weight: 500
    transition: border-color 0.15s

    &:focus
      outline: none
      border-bottom-color: rgba($accent_color, 0.4)
