@import '../../styles'

.add_to_playlist_modal
  display: flex
  flex-direction: column
  max-height: 50vh
  overflow-y: auto
  border-radius: 6px

.modal_item
  padding: 1vh
  color: #fff
  background-color: #131313

  & + &
    border-top: 1px solid #ffffff18
    