@import '../../styles'

.add_to_playlist_modal
  display: flex
  flex-direction: column
  width: 80vw
  max-height: 70vh
  padding: 1vh
  overflow-y: auto
  border-radius: 1vh
  background-color: $black_1
  color: $white

.modal_item
  display: flex
  align-items: center
  padding: 1.5vh

  & + &
    border-top: 1px solid $black_3

  &__cover
    width: 9vh
    height: 9vh
    margin-right: 2vh
    border-radius: 1vh

  &__title
    font-size: 2vh
    