@import "../../styles/"
    
.screen_container
    display: flex
    height: 100%
    background-color: $background_color
    color: white

    &__desktop_menu_container
        height: 100%
        width: 200px

    &__right_side
        flex: 1
        display: flex
        flex-direction: column
    
    &__mobile_menu_container
        
    &__screen
        height: 100%
        overflow: hidden
        // padding: 10px 0 30px