@import "../../styles/"
    
.screen_container
	position: relative
	display: flex
	flex-direction: column
	height: 100%
	background-color: $background_color
	color: white

	&__content
		height: 100%
		overflow-y: scroll
		&::after
			content: ''
			display: block
			height: 50px


	&__content--with-player-padding
		&::after
			content: ''
			display: block
			height: 170px

	&__bottom
		position: fixed
		left: 0
		bottom: 0
		width: 100%