@import '../../styles'

.profile_screen
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding-top: 30vh

  &__picture
    width: 8vh
    height: 8vh
    border-radius: 8px
    margin-bottom: 2vh

  &__name
    font-size: 5vh
  
  &__email
    opacity: 0.8

  &__sign_out_button
    margin-top: 5vh
    background-color: #e76969
    color: #141414
    min-width: 200px
    padding: 1.2vh
    font-size: 2.5vh
