@import '../../styles'

.profile_screen
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 100%

  &__picture
    width: 8vh
    height: 8vh
    border-radius: 50%
    margin-bottom: 2vh

  &__name
    font-size: 5vh
  
  &__email
    opacity: 0.8

  &__sign_out_button
    margin-top: 5vh
    background-color: #ce6a6a
    color: #111111
    padding: 2vh
    font-size: 3vh
