@import '../../styles'

.collection_screen
  &__new_button
    display: flex
    align-items: center
    justify-content: center
    width: 64px
    height: 64px
    border-radius: 8px
    background-color: #628d61

  &__new_button_icon
    font-size: 30px