@import '../../styles'

.player
  display: flex
  align-items: center
  padding: 2vh 5vw
  background-color: #101113

  &__cover
    width: 8vh
    height: 8vh
    border-radius: 8px
    margin-right: 5%

  &__main_info
    display: flex
    flex-direction: column

  &__title
    color: $primary_text_color
  
  &__artist
    color: $gray
    font-size: 2vh