@import '../../styles'

.progress_bar
  display: flex
  align-items: center
  justify-content: space-between

  &__line_container
    background-color: $gray_4
    border-radius: 1vh
    width: 100%
    margin: 0 2vh
    height: 0.5vh

  &__line
    position: relative
    height: 100%
    border-radius: 1vh
    background-color: $green_0

    &::after
      content: ''
      position: absolute
      top: 50%
      right: 0
      transform: translate(50%, -50%)
      height: 2vh
      width: 2vh
      border: 1px solid $gray_5
      border-radius: 50%
      background-color: $black_1

  &__duration,
  &__progress
    font-size: 2.1vh
    
    